version: '3.9'

services:
  backend:
    build: .
    command: >
      bash -c "python manage.py migrate &&
               python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    volumes:
      - .:/app

  db:
    image: postgres:16.0
    env_file:
      - .env
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7.2.5
    command: ["redis-server", "--appendonly", "yes"]
    expose:
      - "6379"

  celery:
    build: .
    command: celery -A ${DJANGO_CELERY_APP} worker --loglevel=info
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      backend:
        condition: service_started
    volumes:
      - .:/app

  celery-beat:
    build: .
    command: celery -A ${DJANGO_CELERY_APP} beat --loglevel=info
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      backend:
        condition: service_started
    volumes:
      - .:/app

volumes:
  postgres_data:

